body{
    background-color: #3504a7;
    color: aliceblue;
    font-family: sans-sarif;
    font-size: 20px;
    align-self: center;
    }
    a:hover{
        color:grey;        
        font-size: 20px;
    }
    a{
        color: azure;
    }
footer{        
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;        
}